<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateFolder</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.CreateFolder</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SetPasswordServlet</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.SetPasswordServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckAccount</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.CheckAccount</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.DeleteAccount</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.UpdateProfile</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateName</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.UpdateName</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateWeather</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.UpdateWeather</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadPreference</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.UploadPreference</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WeatherChecker</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.WeatherChecker</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileChecker</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.ProfileChecker</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NameChecker</servlet-name>
        <servlet-class>com.mycloudwear.weblogin.NameChecker</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateFolder</servlet-name>
        <url-pattern>/CreateFolder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetPasswordServlet</servlet-name>
        <url-pattern>/SetPasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckAccount</servlet-name>
        <url-pattern>/CheckAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateName</servlet-name>
        <url-pattern>/UpdateName</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateWeather</servlet-name>
        <url-pattern>/UpdateWeather</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadPreference</servlet-name>
        <url-pattern>/UploadPreference</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WeatherChecker</servlet-name>
        <url-pattern>/WeatherChecker</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileChecker</servlet-name>
        <url-pattern>/ProfileChecker</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NameChecker</servlet-name>
        <url-pattern>/NameChecker</url-pattern>
    </servlet-mapping>

</web-app>